<div class="team">
    <h1 style="color: #16e16e; text-align: center">Edit Team</h1>
    <div class="teamForm">
        <p name="schName" id="schName">School Name: <%= user.school.schoolName %>
        </p>
        <input name="schId" id="schId" type="hidden" value="<%= user.discordCode %>">
        <p name="schName" id="schName">Discord Code: <%= user.discordCode %>
        </p>
        <div class="col-container">
            <div class="col-1">
                <h4>Creative</h4>
                <input name="creativeparticipant1" id="creativeparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.creativeparticipant1 %>"> <br><br>
                <input name="creativeparticipant2" id="creativeparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.creativeparticipant2 %>"> <br><br>
                <input name="creativeparticipant3" id="creativeparticipant3" type="text" autocomplete="off"
                    placeholder="Participant 3 Name" value="<%= team.creativeparticipant3 %>"> <br><br>
                <input name="creativeparticipant4" id="creativeparticipant4" type="text" autocomplete="off"
                    placeholder="Participant 4 Name" value="<%= team.creativeparticipant4 %>"> <br><br>

                <h3>Crossword</h3>
                <input name="crossparticipant1" id="crossparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.crossparticipant1 %>"> <br><br>
                <input name="crossparticipant2" id="crossparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.crossparticipant2 %>"> <br><br>

                <h3>Programming</h3>
                <input name="progparticipant1" id="progparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.progparticipant1 %>"> <br><br>
                <input name="progparticipant2" id="progparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.progparticipant2 %>"> <br><br>

                <h3>Group Discussion</h3>
                <input name="gdparticipant1" id="gdparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.gdparticipant1 %>"> <br><br>


                <h3>Surprise</h3>
                <input name="surpparticipant1" id="surpparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.surpparticipant1 %>"> <br><br>
                <input name="surpparticipant2" id="surpparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.surpparticipant2 %>"> <br><br>

                <h3>Senior Robotics</h3>
                <input name="roboticsparticipant1" id="roboticsparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.roboticsparticipant1 %>"> <br><br>
                <input name="roboticsparticipant2" id="roboticsparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.roboticsparticipant2 %>"> <br><br>
                <input name="roboticsparticipant3" id="roboticsparticipant3" type="text" autocomplete="off"
                    placeholder="Participant 3 Name" value="<%= team.roboticsparticipant3 %>"> <br><br>

            </div>
            <div class="col-2">
                <h3>Junior Robotics</h3>
                <input name="jrroboticsparticipant1" id="jrroboticsparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.jrroboticsparticipant1 %>"> <br><br>
                <input name="jrroboticsparticipant2" id="jrroboticsparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.jrroboticsparticipant2 %>"> <br><br>

                <h3>Gaming</h3>
                <input name="gamingparticipant1" id="gamingparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.gamingparticipant1 %>"> <br><br>
                <input name="gamingparticipant2" id="gamingparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.gamingparticipant2 %>"> <br><br>

                <h3>Film Making</h3>
                <input name="filmparticipant1" id="filmparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.filmparticipant1 %>"> <br><br>
                <input name="filmparticipant2" id="filmparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.filmparticipant2 %>"> <br><br>
                <input name="filmparticipant3" id="filmparticipant3" type="text" autocomplete="off"
                    placeholder="Participant 3 Name" value="<%= team.filmparticipant3 %>"> <br><br>
                <input name="filmparticipant4" id="filmparticipant4" type="text" autocomplete="off"
                    placeholder="Participant 4 Name" value="<%= team.filmparticipant4 %>"> <br><br>

                <h3>Photography</h3>
                <input name="photoparticipant1" id="photoparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.photoparticipant1 %>"> <br><br>

                <h3>Paint 3D</h3>
                <input name="paintparticipant1" id="paintparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.paintparticipant1 %>"> <br><br>

                <h3>Scratch </h3>
                <input name="gamedevparticipant1" id="gamedevparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.gamedevparticipant1 %>"> <br><br>
                <input name="gamedevparticipant2" id="gamedevparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.gamedevparticipant2 %>"> <br><br>

                <h3>AppD</h3>
                <input name="minecraftparticipant1" id="minecraftparticipant1" type="text" autocomplete="off"
                    placeholder="Participant 1 Name" value="<%= team.minecraftparticipant1 %>"> <br><br>
                <input name="minecraftparticipant2" id="minecraftparticipant2" type="text" autocomplete="off"
                    placeholder="Participant 2 Name" value="<%= team.minecraftparticipant2 %>"> <br><br>
            </div>
        </div>
    </div>
</div>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

    body {
        background: black;
        color: white;
        font-family: 'Outfit', sans-serif;
    }

    p {
        font-size: 1.5rem;
    }

    .col-1,
    .col-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: auto;
    }

    .col-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .teamForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .teamForm input {
        width: 30vw;
        height: 3vw;
        border: none;
        background-color: transparent;
        color: #fff;
        border: 2px solid rgba(255, 255, 255, 0.15);
        font-size: 1.3vw;
        font-weight: 500;
        margin-top: .5vw;
        border-radius: 5px;
        margin-bottom: .5vw;
        padding: 1.5vw;
        transition: all 0.5s ease;
        letter-spacing: 1px;
    }

    .teamForm input:focus {
        outline: none;
        border: 2px solid #16e16e;
    }

    .teamForm h2 {
        font-size: 2vw;
    }

    #teamBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #16e16e;
        color: #000;
        border: none;
        width: 16vw;
        height: 3vw;
        border-radius: 2vw;
        font-size: 1.25vw;
        font-family: 'Outfit', sans-serif;
        margin-bottom: 2vw;
        margin-top: 3vw;

    }

    #logoutbtn {
        background-color: #16e16e;
        color: #000;
        border: none;
        width: 16vw;
        height: 3vw;
        border-radius: 2vw;
        font-size: 1.25vw;
        font-family: 'Outfit', sans-serif;
        margin-bottom: 2vw;
    }

    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 768px) {
        p {
            font-size: 1rem;
            height: 1vh;
        }

        .col-container {
            flex-direction: column;
        }

        .teamForm input {
            width: 80vw;
            height: 10vw;
            font-size: 1.1rem;
        }

        #logoutbtn,
        #teamBtn {
            width: 80vw;
            height: 10vw;
            font-size: 1.1rem;
        }

        .teamForm h4 {
            font-size: 1.2rem;
        }
    }
</style>